h1 {
    color: #228c2c;
    text-decoration: overline;
}

h2 {
    background-color: rgb(228, 38, 101);
    color: rgb(0, 0, 0);
}

body {
    font-family: Arial;
    font-size: 12px;
    background-color: rgb(221, 208, 141);
}

ul {
    background-color: rgb(176, 236, 216);
    list-style-type: square;
}

li p {
    font-style: italic;
}

#about p {
    background-color: pink;
}

#contact a {
    font-weight: bold;
    color: #000;
    text-decoration: none;
}
